<%-include("partials/header")-%>
<%-include("partials/navbar")-%>
<img class="home-img" src="/bluebooks.jpg" alt="library photo">
<h1 id="username" style="display:none"><%=username%></h1>
<div class="home-text">
    <h1>WELCOME <%=username%></h1>
    <h3>Get immersed in the world of books!</h3>
</div>
<div class="carousel-section">
    <div class="carousel-section-header">
        <h2>Recent</h2>
    </div>
    <div class="carousel-container">
        
    </div>
</div>
<%-include("partials/footer")-%>


