<%-include("partials/header")-%>
<%-include("partials/navbar")-%>
<div class='container'>
    <div class='center list flex-column'>
        <%for(var i=0; i<result.length; i++){%>
        <div class='card search-card flex-row open'>
        <%if(result[i].volumeInfo.imageLinks){%>
            <img src=<%=result[i].volumeInfo.imageLinks.smallThumbnail%> class="search-book-img">
        <%}else{%>
            <img src="/noimage.jpg" class="search-book-img">
        <%}%>
        <div class='flex-column info'>
          <div class='title'><%=result[i].volumeInfo.title%></div>
          <div class='author'><%=result[i].volumeInfo.authors%></div>
          <div class='=bottom summary'>
            <%if(result[i].volumeInfo.description){%>
                <%if(result[i].volumeInfo.description.length>130){%>
                    <%=result[i].volumeInfo.description.substring(0,130)%>...
                <%}else{%>
                    <%=result[i].volumeInfo.description%>
                <%}%>
            <%}%>
        </div>
        </div>
        <div class='flex-column group'>
          <button type="button" value="<%=result[i].id%>" onclick="addFav(event)" class="fav-btn btn btn-lg buttons">
            <i class="book-icon fas fa-heart"></i>
          </button>
          <a href=<%=result[i].volumeInfo.infoLink%> target="_blank" class="read-btn buttons input-group-text btn"><i class="book-icon fas fa-book-open"></i></a>
        </div>
      </div>
    <%}%>
    </div>
  </div>
  <script>
    console.log(fav);
  </script>
  <script>
    function addFav(event)
    {
      var add=1;
      if(event.target.classList.contains("favourited"))
      {
        event.target.classList.remove("favourited");
        add=0;
      }
      else
      {
        event.target.classList.add("favourited");
      }
      const data={id:event.currentTarget.value, add:add};
      fetch("/search",
                {
                    method: "POST",
                  // no-cors, *cors, same-origin
                    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: 'include', // include, *same-origin, omit
                    headers: {'Content-Type': 'application/json'},
                    redirect: 'follow', // manual, *follow, error
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(data)
                })
                .catch(function(res){ console.log(res) });
              
    }
  </script>
<%-include("partials/footer")-%>