<%-include("partials/header")-%>
<%-include("partials/navbar")-%>
<div class='container'>
    <div class='center list flex-column'>
        <%for(var i=0; i<result.length; i++){%>
        <div class='card search-card flex-row open'>
        <%if(result[i].volumeInfo.imageLinks){%>
            <img src=<%=result[i].volumeInfo.imageLinks.smallThumbnail%> class="search-book-img">
        <%}else{%>
            <img src="/noimage.jpg" class="search-book-img">
        <%}%>
        <div class='flex-column info'>
          <div class='title'><%=result[i].volumeInfo.title%></div>
          <div class='author'><%=result[i].volumeInfo.authors%></div>
          <div class='=bottom summary'>
            <%if(result[i].volumeInfo.description){%>
                <%if(result[i].volumeInfo.description.length>130){%>
                    <%=result[i].volumeInfo.description.substring(0,130)%>...
                <%}else{%>
                    <%=result[i].volumeInfo.description%>
                <%}%>
            <%}%>
        </div>
        </div>
        <div class='flex-column group'>
          <a href=<%=result[i].volumeInfo.infoLink%> target="_blank" class="read-btn buttons input-group-text btn"><i class="book-icon fas fa-book-open"></i></a>
        </div>
      </div>
    <%}%>
    </div>
  </div>

<%-include("partials/footer")-%>